@page "/"
@using Microsoft.Fast.Components.FluentUI
@using System.Text.Json
@inject IJSRuntime _jsRuntimeService;

<div>@SelectedTable</div>
<div>@SelectedVariable</div>


<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <label id="label1">tbl</label>
    <FluentRadioGroup ValueChanged="Callback2" Required="true" aria-labelledby="label1" Name="fruits" Orientation="Orientation.Vertical">
        @foreach (var tab in tables)
        {
            <FluentRadio Value=@tab>@tab</FluentRadio>
        }
    </FluentRadioGroup>
</div>

<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <label id="label1">cats</label>
    <FluentRadioGroup ValueChanged="Callback" Required="true" aria-labelledby="label1" Name="fruits" Orientation="Orientation.Vertical">
        @foreach (var cat in categories)
            {
                <FluentRadio Value=@cat>@cat</FluentRadio>
            }
    </FluentRadioGroup>
</div>

<FluentButton Appearance="Appearance.Outline" style="width: 280px;" @onclick="Write">CREATE</FluentButton>
<FluentButton Appearance="Appearance.Outline" style="width: 280px;" @onclick="Delete">DELETE</FluentButton>

@code{
    
    private string? SelectedTable { get; set; } = "";
    private string? SelectedVariable { get; set; } = "";
    private string SelectedSheet => GetSheet();

    readonly List<string> categories = new();
    readonly List<string> tables = new();
    
    readonly List<Option<string>> _categories = new();
    readonly List<Option<string>> _tables = new();
    private List<WorksheetModel> Worksheets { get; set; } = new();
    private JsonSerializerOptions _options;
    private DotNetObjectReference<Index> _lDotNetReference;
    

    protected override async Task OnInitializedAsync()
    {
        _lDotNetReference = DotNetObjectReference.Create(this);
        await _jsRuntimeService.InvokeVoidAsync("listWorksheets", _lDotNetReference);
        //StateHasChanged();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };
        }
    }
    
    private async Task Write()
    {
        var sheet = SelectedSheet;
        var json = await _jsRuntimeService.InvokeAsync<JsonElement>("getValuesFromColumn", "Abfrage1", SelectedTable, SelectedVariable);

        var tables = json.Deserialize<string[][]>(_options);
        
        List<string> distinctValues = new();
        (tables ?? Array.Empty<string[]>()).ToList().ForEach(e =>
        {
            if (distinctValues.Contains(e[0]) == false)
                distinctValues.Add(e[0]);
        });
        await _jsRuntimeService.InvokeVoidAsync("add", "Abfrage1", SelectedTable, SelectedVariable, distinctValues);
    }
    
    private async Task Delete()
    {
        //await _jsRuntimeService.InvokeVoidAsync("add", "Abfrage1", "Abfrage1", "agency_category");
        await _jsRuntimeService.InvokeVoidAsync("deleteLastWorksheet");
    }
    
    
    
    [JSInvokable]
    public void CallbackAllWorksheets(JsonElement worksheetsArray)
    {
        var tables = worksheetsArray.Deserialize<WorksheetModel[]>(_options);
        Worksheets.Clear();
        Worksheets.AddRange(tables);
        Update2();
        Update();
        //StateHasChanged();
    }

    void Update()
    {
        _categories.Clear();
        foreach (var worksheet in Worksheets)
        {
            foreach (var table in worksheet.Tables)
            {
                for (int i = 0; i < table.Categories.Length; i++)
                {
                    bool state = i == 0;
                    var option = new Option<string>
                    {
                        Selected = state,
                        Key = table.Categories[i],
                        Value = table.Categories[i]
                    };
                    if (state)
                    {
                        SelectedVariable = table.Categories[i];
                    }
                    
                    _categories.Add(option);
                    categories.Add(table.Categories[i]);
                }
            }
        }
    }
    
    void Update2()
    {
        _tables.Clear();
        foreach (var worksheet in Worksheets)
        {
            for (int i = 0; i < worksheet.Tables.Length; i++)
            {
                bool state = i == 0;
                var option = new Option<string>
                {
                    Selected = state,
                    Key = worksheet.Tables[i].TableName,
                    Value = worksheet.Tables[i].TableName
                };
                if (state)
                {
                    SelectedTable = worksheet.Tables[i].TableName;
                }
                
                _tables.Add(option);
                tables.Add(worksheet.Tables[i].TableName);
            }
        }
    }
    
    string GetCats()
    {
        foreach (var cat in _categories)
        {
            if (cat.Selected)
                return cat.Value;
        }
        return "not cat found";
    }
    
    string GetTables()
    {
        foreach (var tab in _tables)
        {
            if (tab.Selected)
                return tab.Value;
        }
        return "not table found";
    }
    
    string GetSheet()
    {
        var table = GetTables();
        foreach (var tab in _tables)
        {
            if (tab.Selected)
            {
                foreach (var sheet in Worksheets)
                {
                    foreach (var t in sheet.Tables)
                    {
                        if (t.TableName == table)
                            return sheet.SheetName;
                    }
                }
            }
        }
        return "no sheet found";
    }

    private void Callback(string? obj)
    {
        SelectedVariable = obj;
    }
    
    private void Callback2(string? obj)
    {
        SelectedTable = obj;
    }

}